"""Machine learning components for {{ project_name }}."""

from {{ module_name }}.ml.train import train
from {{ module_name }}.ml.evaluate import evaluate
from {{ module_name }}.ml.predict import predict

__all__ = ["train", "evaluate", "predict"]
